@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend-font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-primary {
    border-radius: 8px;
    background: #B4F461;
    color: black;
    border: none;
    padding: 12px 32px;
    font-size: 16px;
    cursor: pointer;
}

.account-bdt {
    color: rgba(17, 17, 17, 0.70);
    font-size: 20px;
    font-weight: 500;
}

.donate-bd {
    color: #111;
    font-size: 20px;
    font-weight: 600;
}

.header-style {
    display: grid;
    background: #F9F7F3;
    padding: 24px 20px 70px;
    gap: 20px;
    align-items: center;
}

/* Mobile: 1 column */
@media screen and (max-width: 576px) {
    .header-style {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* Tablet: 2 columns */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header-style {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop: 3 columns */
@media screen and (min-width: 993px) {
    .header-style {
        grid-template-columns: repeat(3, 1fr);
    }
}